{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Code Platform</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/main.css' %} ">
</head>

<body style="background:dodgerblue ">
    
    <nav>
        <h1 style="width: fit-content;
            font-size: 1.75rem;
            padding: 10px;">
            CODE PLATFORM XYZ  
        </h1>
        <ul id="navelements">
            <div class="loginsignup">                
                <li class="username">{{ user.username }}</li>
                <input id="user_name" type="hidden" value='{{ user.username }}'>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </div>
        </ul>				
    </nav>
    <br><br><br>

    <div class="container-fluid">
        
        <div class="container-fluid">
          
          <div class="row">
            <div class="col-md-10">
                <h4>Admin Panel</h4>
                
                <style>
                    .quiz-data-box a{
                        margin-right: 15px;
                    }
                </style>

                <form class="quiz-data-box">
                    <div class="form-row">
                        <a href="/create_contest" class="btn btn-info" role="button">Create Contest</a>
                        <a href="/edit_contest" class="btn btn-info" role="button">Edit Contest</a> 
                    </div>
                  </form>   
            </div>
          </div>
          <br>
      
          <!-- Or let Bootstrap automatically handle the layout -->
          <div class="row" style="background: azure;padding: 20px;">
            <div class="col-md-10">
                

            </div>

          </div>
          <br>
          
        </div>
      </div>
</body>

</html>