{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Code Platform</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/main.css' %} ">
</head>

<body style="background:dodgerblue ">
    
    <nav>
        <h1 style="width: fit-content;
            font-size: 1.75rem;
            padding: 10px;">
            CODE PLATFORM XYZ  
        </h1>
        <ul id="navelements">
            <div class="loginsignup">
                <li id="time">Timer Starting ...</li>
                <li class="username">{{ user.username }}</li>
                <input id="user_name" type="hidden" value='{{ user.username }}'>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </div>
        </ul>				
    </nav>
    <br><br><br>

    <div class="container-fluid">
        
        <div class="container-fluid">
          
          <div class="row">
            <div class="col-md-10">
                <!-- <h4>Basic Grid Structure</h4>
                <p>Resize the browser window to see the effect.</p>
                <p>The first, second and third row will automatically stack on top of each other when the screen is less than 576px wide.</p> -->
                <!-- <meta id="qtype" data-qtype="{{qtype}}"> -->
                <ul id="qbody">
                    <li>
                        <input id="qtype" type="hidden" value= {{qtype}}>
                        <div id='question'>
                        {{qno}}. {{question}}
                        </div>

                        <div style="display: none;">
                            type : {{qtype}}
                        </div>
                        
                        <div id="desc">   
                            {% if desc %}
                                {{desc}}
                            {% endif %}
                                <br>
                        </div>
                    
                    <!-- <input type="text" id="answer" name="answer" placeholder="Type your response" value=""> -->
                     
                    </li>
                </ul>
            </div>
            
            <div class="col-md-2" style="background: white; border: 2px solid black; padding: 15px; border-radius: 1rem;">
                <h5 style="padding-bottom: 15px; border-bottom: 2px solid black;">Question Palet</h5>
                    {% for qno in num_of_q %}
                        <div class="btn-group" id="qpallet">                        
                            <input type="button" class="btn" value= {{qno}} onclick='getQuestion({{qno}})'>
                        </div>    
                    {% endfor %}
                        
                
            </div>

          </div>
          <br>

        <div class="row" id="mcq-options-row">
            <div class="col-md-10">

                <!-- <form action="" method="POST"> -->

                    {% for option in options %}
                    <div class="form-check">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="form-check-input custom-control-input" id="{{option}}" name="optcheckbox" value="{{option}}">
                            <label class="custom-control-label" for="{{option}}">{{option}}</label>
                        </div>
                          
                        <!-- <input type="radio" class="form-check-input" id="{{option}}" name="optradio" value="{{option}}">{{option}} -->
                        
                    </div>
                    {% endfor %}
                    <button id="submitmcq" type="submit" class="btn btn-primary" onclick="submitResponse()" >Submit</button>
                  
                <!-- </form> -->

            </div>
        </div>      
            <br>

          <!-- Or let Bootstrap automatically handle the layout -->
          <div id="coding-window-container" class="row" style="background: azure;padding: 20px; border-radius: 1rem;">
            <div class="col-md-10">
                <!-- <label for="lang"><b>Coding Window</b></label> -->
                <!-- <h5>Coding Window</    h5> -->
                <select class="form-control" name="language" id='lang' onchange='changeLang()' style="width:fit-content;">
                <!-- <option value="python2">Python 2.7</option> -->
                <option value="Python">Python </option>
                <option value="C">C / C++</option>                
                </select><br>         

                <pre id="editor"></pre>
                
                
                <input type="button" class="btn" value="Run Code" onclick='getOutput()'><br>
                 
                <div id="coding-eg-ip-op">
                    <br>
                    <h6><b>Sample Input</b></h6>
                    <pre id='input'>{{pgmInput}}</pre>
                    <br>
                    <h6><b>Expected Output</b></h6>
                    <pre id='expoutput'>{{expOutput}}</pre>
                </div>
                
                
                <br>
                <h6><b>Output</b></h6>
                
                <pre id='output' style="padding: 10px;"></pre> 

            </div>

            <div class="col-md-2">
                <div id="save">
                    <input id="ques_no" type="hidden" value="1"> 
                    <input id="submitcode" type="button" class="btn" value="Submit" style="float:left;" onclick='submitResponse()'>
                    <input type="button" class="btn" value="Final Submit" style="background-color:dodgerblue; " onclick='finalSubmit()'>
                </div>
            </div>

          </div>
          <br>
          
        </div>
      </div>

</body>
    <script src="{% static 'ace/src-min/ace.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'ace/src-min/ext-language_tools.js' %}"></script>
    <script>

    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/dawn");
    editor.session.setMode("ace/mode/python");
    document.getElementById('editor').style.fontSize='15px';
    editor.setOptions({
        enableBasicAutocompletion: true,
        enableSnippets: true,
        enableLiveAutocompletion: true
    });

    function disp_mcq_options(){
        var qtype = document.getElementById("qtype").value;
        if (qtype == "Coding"){
            document.getElementById("mcq-options-row").style.display = "none";
            document.getElementById("submitcode").style.display = "block";
            document.getElementById("coding-eg-ip-op").style.display = "block";
        }
        else{
            document.getElementById("submitcode").style.display = "none";
            document.getElementById("coding-eg-ip-op").style.display = "none";
        }
    }
    window.onload = disp_mcq_options();


    function getRemTime(){
        var xhttp = new XMLHttpRequest();
        var cname = window.location.href.split("/").slice(-1)[0];
        var url = "/getRemTime/"+cname;
        xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            seconds = parseInt(this.responseText);
            var display = document.querySelector('#time');
            startTimer(seconds, display);
            // console.log(data);
        }
        };
        xhttp.open("GET", url, true);
        xhttp.send();
    }

    
    function finalSubmit(){
            // var xhttp = new XMLHttpRequest();
            if (confirm("Are you sure ?\n\nConfirm to end the exam. !") == true) {
                var url = "http://127.0.0.1:8000/finalSubmit/";
                var uname = document.getElementById("user_name").value;
                url = url+uname;
                // xhttp.open("GET", url, true);
                // xhttp.send();
                location.href = url;
            }
    }
    function startTimer(seconds, display) {
        // var timer = h+m+10;
        var timer = seconds;
        timer--;
        setInterval(function () {
            if(timer > 0){
                hours = parseInt(timer / 3600, 10)
                minutes = parseInt((timer-hours*3600)/ 60, 10);
                seconds = parseInt(timer % 60, 10);
                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;
                display.textContent = "Time Left : " + hours + ":" +  minutes + ":" + seconds;

                timer--;
                if (timer < 0){
                    finalSubmit();
                    display.textContent = "TIME EXPIRED";
                    // break;
                }
            }
        }, 1000);
    }

    window.onload = getRemTime();
    
    //local
    function getPrevCode(){
        var qno =  document.getElementById("ques_no").value;
        var lang = document.getElementById('lang').value;
        var cname = window.location.href.split("/").slice(-1)[0];
        var url = "/getCode";
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            data = JSON.parse(this.responseText);
            var code = data["code"];
            //document.getElementById("answer").value = data["ans"];
            if (code=="" && lang == "c")
                editor.setValue("//The return type of main function must be int");
            else
                editor.setValue(code);
        }
        };
        xhttp.open("POST", url, true);
        xhttp.send(JSON.stringify({"qno":qno,
            "lang":lang,"cname":cname }));
    }
    //local
    function changeLang() {
        var lang = document.getElementById('lang').value;
        if (lang == "C")
        {
            getPrevCode();
            var code = editor.getValue();
            if (code=="")
                editor.setValue("//The return type of main function must be int");
            editor.session.setMode("ace/mode/c_cpp");
        }
        else if (lang == "Python")
        {
            getPrevCode();
            editor.session.setMode("ace/mode/python");
        }
    }

    //local
    function saveCode(){
        var xhttp = new XMLHttpRequest();
        var qno = document.getElementById("ques_no").value;
        var code = editor.getValue();
        var lang = document.getElementById('lang').value;
        var url = "/saveCode"
        var cname = window.location.href.split("/").slice(-1)[0];
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                console.log(this.responseText);
            }
        };
        xhttp.open("POST", url, true);
        xhttp.send(JSON.stringify({"qno":qno,
            "code":code, "lang":lang,"cname":cname }));
    }

    var timer;
    editor.session.on('change', function(delta) {
        // console.log(delta.start, delta.end, delta.lines, delta.action)
        clearTimeout(timer);
        timer = setTimeout(saveCode, 3000);
    });
    
    function getQuestion(qno) {
        document.getElementById("output").innerHTML = "";
        var xhttp = new XMLHttpRequest();
        var url = window.location.href+"/getQuestion/"+qno;
        xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            data = JSON.parse(this.responseText);
            // data = this.responseText;
            console.log("data : "+data)
            document.getElementById("question").innerHTML = qno+". "+data["question"];
            document.getElementById("desc").innerHTML = data["desc"];
            document.getElementById("qtype").value = data["qtype"];
            // document.getElementById("input").innerHTML = data["input"];
            // document.getElementById("expoutput").innerHTML = data["expOutput"];
            document.getElementById("ques_no").value = qno;
            //console.log(data);
            // getPrevCode()

            //diable or enable options
            if (data["qtype"] == "MCQ"){
                document.getElementById("mcq-options-row").style.display = "flex";
                document.getElementById("submitcode").style.display = "none";
                document.getElementById("coding-eg-ip-op").style.display = "none";
            }
            else{
                document.getElementById("mcq-options-row").style.display = "none";
                document.getElementById("submitcode").style.display = "block";
                document.getElementById("coding-eg-ip-op").style.display = "block";
            }
            getPrevCode();
        }
        };
        xhttp.open("GET", url, true);
        xhttp.send();
    }

    function submitResponse() {
        var xhttp = new XMLHttpRequest();
        // var input = document.getElementById("input").innerHTML;
        document.getElementById("output").innerHTML = "";
        var qno = document.getElementById("ques_no").value;
        var lang = document.getElementById('lang').value;
        var url = "/submitResponse"
        var cname = window.location.href.split("/").slice(-1)[0];
        var qtype = document.getElementById("qtype").value;
        if (qtype == "MCQ")
        {
            // var options = document.getElementsByName('optradio');
            var options = document.getElementsByName('optcheckbox');
            for(i = 0; i < options.length; i++) 
            { 
                if(options[i].checked) 
                    var code =  options[i].value;
            }
        }
        else
        {
            var code = editor.getValue();
        }
        //console.log(code);
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("output").innerHTML = this.responseText;
            }
        };
        xhttp.open("POST", url, true);
        xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        // xhttp.send(JSON.stringify({ "code":code, "input":input }));
        xhttp.send(JSON.stringify({"qno":qno,
            "code":code, "lang":lang,"cname":cname }));
    }

        //local
        function getOutput() {
            var xhttp = new XMLHttpRequest();
            //var url = "run/";
            var input = document.getElementById("input").innerHTML;
            document.getElementById("output").innerHTML = "";
            var qno = document.getElementById("ques_no").value;
            var url = "/task/run/"
            var lang = document.getElementById('lang').value;
            var code = editor.getValue();
            url = url+lang+"/"+qno;
            // console.log(code);
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("output").innerHTML = this.responseText;
                }
            };
            xhttp.open("POST", url, true);
            xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhttp.send(JSON.stringify({ "code":code, "input":input }));
        }
        getPrevCode();
    </script>

</html>
