{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Code Platform</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <link rel="stylesheet" href="{% static 'css/main.css' %} ">
</head>

<style>
.custom-control{
    padding:0;
}
</style>

<body style="background:rgb(0, 192, 218) ">

    <nav>
        <h1  style="width: fit-content;
            font-size: 1.75rem;
            padding: 10px;">
            Contest : {{cname}}
        </h1>
        <ul id="navelements">
            <div class="loginsignup">
                <li id="time">Timer Starting ...</li>
                <li class="username">{{ user.username }}</li>
                <input id="user_name" type="hidden" value='{{ user.username }}'>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </div>
        </ul>
    </nav>
    <br><br><br>

    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9" id="question-container" style="background: white; border: 2px solid black; padding: 15px; border-radius: 1rem;">
                    <div class="row">
                        <div class="col-md-9">
                            <ul id="qbody">
                                <li>
                                    <input id="qtype" type="hidden" value={{qtype}}>
                                    <pre><h5><div id='question'>{{qno}}. {{question}}</div></h5> </pre>
                                    <div style="display: none;">
                                        type : {{qtype}}
                                    </div>
                                    {% if desc %}
                                    <pre><h6><div id="desc">{{desc}}</div></h6></pre>
                                    {% endif %}
                                    <br>
                                    <!-- <input type="text" id="answer" name="answer" placeholder="Type your response" value=""> -->
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row" id="mcq-options-row">
                        <div class="col-md-10" id="mcq_options_div">
                            <!-- <form action="" method="POST"> -->
                            {% for option in options %}
                            <div class="form-check">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="form-check-input custom-control-input" id="{{option}}"
                                        name="optcheckbox" value="{{option}}">
                                    <label class="custom-control-label" for="{{option}}">{{option}}</label>
                                </div>
                                <!-- <input type="radio" class="form-check-input" id="{{option}}" name="optradio" value="{{option}}">{{option}} -->
                            </div>
                            {% endfor %}
                            
                            <!-- </form> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2"
                    style="background: white; border: 2px solid black; padding: 15px; border-radius: 1rem;">
                    <div class="row">
                        <h5 class="col-md" style="padding-bottom: 15px; border-bottom: 2px solid black;">Question Palet</h5>
                    </div>
                    <div class="row" style="padding-bottom: 30px;">
                        {% for qno in num_of_q %}
                            <div class="btn-group col-md-2" id="qpallet">
                                {% if qno in submitted_questions %}
                                <input type="button" class="btn qno-btn" value={{qno}} onclick='getQuestion({{qno}})' style="background-color:rgb(83, 255, 83)">
                                {% else %}
                                <input type="button" class="btn qno-btn" value={{qno}} onclick='getQuestion({{qno}})'>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <input id="ques_no" type="hidden" value="1">
                    <div class="row" style="border-top: 2px solid black;">
                        <div class="col-md">
                        <button id="submitmcq" type="submit" class="btn btn-primary" onclick="submitResponse()">Submit</button>
                        </div>
                        <div class="col-md">
                            <input type="button" class="btn" value="Final Submit" style="background-color:dodgerblue; "
                        onclick='finalSubmit()'>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <!-- <button id="submitmcq" type="submit" class="btn btn-primary"
                        onclick="submitResponse()">Submit</button> -->
            <br>

            <!-- Or let Bootstrap automatically handle the layout -->
            <div id="coding-window-container" class="row" style="background: azure;padding: 20px; border-radius: 1rem;">
                <div class="col-md-10">
                    <!-- <label for="lang"><b>Coding Window</b></label> -->
                    <!-- <h5>Coding Window</    h5> -->
                    <select class="form-control" name="language" id='lang' onchange='changeLang()'
                        style="width:fit-content;">
                        <!-- <option value="python2">Python 2.7</option> -->
                        <option value="Python">Python </option>
                        <option value="C">C / C++</option>
                    </select><br>

                    <pre id="editor"></pre>


                    <!-- <input type="button" class="btn" value="Run Code" onclick='getOutput()'><br> -->
                    <button class="btn btn-primary" id="run-code-button" type="button" onclick='getOutput()'>
                        <span class="spinner-border spinner-border-sm" role="status" id="run-code-spinner" style="display:none"></span>
                        Run Code
                    </button>

                </div> 
            </div>
            <br><br>
            <div id="testcase-result-container"></div>
            <br>
        </div>
    </div>
    <div role="alert" id="myToast" aria-live="assertive" aria-atomic="true" class="toast" style="position: fixed;bottom: 0;right: 0;">
        <div class="toast-header">
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body" id="toast-body"> </div>
    </div>

</body>
<script src="{% static 'ace/src-min/ace.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'ace/src-min/ext-language_tools.js' %}"></script>

<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/dawn");
    editor.session.setMode("ace/mode/python");
    document.getElementById('editor').style.fontSize = '15px';
    editor.setOptions({
        enableBasicAutocompletion: true,
        enableSnippets: true,
        enableLiveAutocompletion: true
    });

    function show_toast(msg){
        $('.toast').toast({"delay":800})
        document.getElementById("toast-body").innerHTML = msg;
        $("#myToast").toast('show');
    }

    function disp_mcq_options() {
        var qtype = document.getElementById("qtype").value;
        if (qtype == "Coding") {
            document.getElementById("mcq-options-row").style.display = "none";
        }
        else {
            document.getElementById("coding-window-container").style.display = "none";
        }
    }
    window.onload = disp_mcq_options();


    function getRemTime() {
        var xhttp = new XMLHttpRequest();
        var cname = window.location.href.split("/").slice(-1)[0];
        var url = "/getRemTime/" + cname;
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                seconds = parseInt(this.responseText);
                var display = document.querySelector('#time');
                startTimer(seconds, display);
                // console.log(data);
            }
        };
        xhttp.open("GET", url, true);
        xhttp.send();
    }


    function finalSubmit() {
        var xhttp = new XMLHttpRequest();
        if (confirm("Are you sure ?\n\nConfirm to end the exam. !") == true) {
            var url = "/final_submit";
            var cname = window.location.href.split("/").slice(-1)[0];
            url = url + "/" + cname;
            xhttp.open("GET", url, true);
            xhttp.send();
            location.href = url;
        }
    }
    function startTimer(seconds, display) {
        // var timer = h+m+10;
        var timer = seconds;
        timer--;
        setInterval(function () {
            if (timer > 0) {
                hours = parseInt(timer / 3600, 10)
                minutes = parseInt((timer - hours * 3600) / 60, 10);
                seconds = parseInt(timer % 60, 10);
                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;
                display.textContent = "Time Left : " + hours + ":" + minutes + ":" + seconds;

                timer--;
                if (timer < 0) {
                    finalSubmit();
                    display.textContent = "TIME EXPIRED";
                    // break;
                }
            }
        }, 1000);
    }

    window.onload = getRemTime();

    //local
    function getPrevCode() {
        var qno = document.getElementById("ques_no").value;
        var lang = document.getElementById('lang').value;
        var cname = decodeURI(window.location.pathname.split("/").pop());
        var url = "/getCode";
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                data = JSON.parse(this.responseText);
                var code = data["code"];
                if (code == "" && lang == "c")
                    editor.setValue("//The return type of main function must be int");
                else
                    editor.setValue(code);
            }
        };
        xhttp.open("POST", url, true);
        xhttp.send(JSON.stringify({
            "qno": qno,
            "lang": lang, "cname": cname
        }));
    }
    //local
    function changeLang() {
        var lang = document.getElementById('lang').value;
        if (lang == "C") {
            getPrevCode();
            var code = editor.getValue();
            if (code == "")
                editor.setValue("//The return type of main function must be int");
            editor.session.setMode("ace/mode/c_cpp");
        }
        else if (lang == "Python") {
            getPrevCode();
            editor.session.setMode("ace/mode/python");
        }
    }

    //local
    function saveCode() {
        var xhttp = new XMLHttpRequest();
        var qno = document.getElementById("ques_no").value;
        var code = editor.getValue();
        var lang = document.getElementById('lang').value;
        var url = "/saveCode"
        var cname = decodeURI(window.location.pathname.split("/").pop());
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                console.log(this.responseText);
            }
        };
        xhttp.open("POST", url, true);
        xhttp.send(JSON.stringify({
            "qno": qno,
            "code": code, "lang": lang, "cname": cname
        }));
    }

    var timer;
    editor.session.on('change', function (delta) {
        // console.log(delta.start, delta.end, delta.lines, delta.action)
        clearTimeout(timer);
        timer = setTimeout(saveCode, 3000);
    });

    function getQuestion(qno) {
        document.getElementById("testcase-result-container").innerHTML = "";
        document.getElementById("question-container").style.visibility = "hidden";
        var xhttp = new XMLHttpRequest();
        var url = window.location.href + "/getQuestion/" + qno;
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                data = JSON.parse(this.responseText);
                document.getElementById("question").innerHTML = qno + ". " + data["question"];
                document.getElementById("desc").innerHTML = data["desc"];
                document.getElementById("qtype").value = data["qtype"];
                document.getElementById("question-container").style.visibility = "visible";
                document.getElementById("ques_no").value = qno;

                //diable or enable options
                if (data["qtype"] == "MCQ") {
                    document.getElementById("mcq-options-row").style.display = "flex";
                    document.getElementById("coding-window-container").style.display = "none";

                    //remove prev mcq question options
                    mcq_opt_div = document.getElementById("mcq_options_div")
                    mcq_opt_div.innerHTML = "";
                    var option_html = ""
                    // refresh with options of new mcq question
                    for(option of data["options"]){
                        option_html += '<div class="form-check"><div class="custom-control custom-checkbox"><input type="checkbox" class="form-check-input custom-control-input" id="'+option+'" name="optcheckbox" value="'+option+'"><label class="custom-control-label" for="'+option+'">'+option+'</label></div></div>'
                    }
                    mcq_opt_div.innerHTML = option_html;

                }
                else {
                    document.getElementById("mcq-options-row").style.display = "none";
                    document.getElementById("coding-window-container").style.display = "flex";
                }
                getPrevCode();
            }
        };
        xhttp.open("GET", url, true);
        xhttp.send();
    }

    function submitResponse() {
        var xhttp = new XMLHttpRequest();
        var qno = document.getElementById("ques_no").value;
        var lang = document.getElementById('lang').value;
        var url = "/submitResponse"
        var cname = decodeURI(window.location.pathname.split("/").pop());
        var qtype = document.getElementById("qtype").value;
        if (qtype == "MCQ") {
            // var options = document.getElementsByName('optradio');
            var options = document.getElementsByName('optcheckbox');
            var code = ""
            for (i = 0; i < options.length; i++) {
                if (options[i].checked)
                    code += ("(~$)"+options[i].value);
            }
        }
        else {
            var code = editor.getValue();
        }

        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                if (this.responseText == "Saved Response"){
                    document.querySelectorAll(".qno-btn").forEach(
                        function (i) {
                            if(i.value ==qno){
                                i.style="background-color:rgb(83, 255, 83)";
                            }
                        }
                    );
                }
                show_toast(this.responseText);
            }
        };
        xhttp.open("POST", url, true);
        xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhttp.send(JSON.stringify({
            "qno": qno,
            "code": code, "lang": lang, "cname": cname
        }));
    }

    //local
    function getOutput() {
        var xhttp = new XMLHttpRequest();
        document.getElementById("testcase-result-container").innerHTML = "";
        document.getElementById("run-code-spinner").style.display = "inline-block";
        document.getElementById("run-code-button").disabled = true;
        var qno = document.getElementById("ques_no").value;
        var url = "/task/run/";
        var cname = decodeURI(window.location.pathname.split("/").pop());
        var lang = document.getElementById('lang').value;
        var code = editor.getValue();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("testcase-result-container").innerHTML = this.responseText;
                document.getElementById("run-code-spinner").style.display = "none";
                document.getElementById("run-code-button").disabled = false;
            }
        };
        xhttp.open("POST", url, true);
        xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhttp.send(JSON.stringify({ "code": code, "lang": lang ,"contest name":cname, "qno":qno}));
    }
    getPrevCode();
</script>

</html>