{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Code Platform</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/main.css' %} ">
</head>

<body style="background:dodgerblue ">
    
    <nav>
        <h1 style="width: fit-content;
            font-size: 1.75rem;
            padding: 10px;">
            CODE PLATFORM XYZ  
        </h1>
        <ul id="navelements">
            <div class="loginsignup">                
                <li class="username">{{ user.username }}</li>
                <input id="user_name" type="hidden" value='{{ user.username }}'>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </div>
        </ul>				
    </nav>
    <br><br><br>

    <div class="container-fluid">
        
        <div class="container-fluid">
          
          <div class="row">
            <div class="col-md">
                <h4>Question Creation Panel</h4>
                <!-- <p>Resize the browser window to see the effect.</p> -->
                <br>

                <style>
                    .quiz-data-box{
                        background: ghostwhite;
                        padding: 20px;
                    }
                    .quiz-data-box button{
                      float: right;
                      margin-right: 15px;
                      margin-top: 35px;
                    }

                    .addoptionbtn button{
                      float: none;
                      margin-right: 0;
                      margin-top: 0;
                      margin-bottom: 5px;
                    }

                    .addoptionbtn, .addtestcasebtn{
                      display: flex;
                      margin-bottom: 10px;
                    }


                    .addtestcasebtn button{
                      float: none;
                      margin-right: 0;
                      margin-top: 0;
                      margin-bottom: 5px;
                      margin-left: 5px;
                    }

                </style>

                <form class="quiz-data-box" method="POST" action="">
                    
                    <div class="form-row">
                        <div class="form-group col-md-3">
                          <label>Question Number</label>
                          <input type="number" class="form-control" id="qno" name="qno" placeholder="" required>
                        </div>
                        <div class="form-group col-md">
                          <label>Question Type:</label>
                            <select  class="form-control" id="qtype" name="qtype">
                                <option value="Coding">Coding</option>
                                <option value="MCQ">MCQ</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                      <div class="form-group col-md">
                        <label>Question</label>
                        <textarea class="form-control" rows="3" id="question" name="question" required></textarea>
                      </div>
                    </div>

                    <div class="form-row">
                      <div class="form-group col-md">
                        <label>Description</label>
                        <textarea class="form-control" rows="3" id="q_desc" name="q_desc" placeholder="Leave Blank for MCQ"></textarea>
                      </div>
                    </div>

                    <div class="form-row">
                      <div class="options-container form-group col-md">
                        <label>MCQ Options [leave blank for Coding] </label><br>
                        <div class = "addoptionbtn">
                          <input type="text" name="option1" style="width: 25%;" placeholder="Option 1">
                          <div class="form-group col-md-1">
                            <select class="form-control" id="ans_correct" name="ans_correct">
                                <option value="Wrong">Wrong</option>
                                <option value="Correct">Correct</option>
                            </select>
                        </div>  
                          <button class="add_form_field_mcq">+</button>
                        </div>
                      </div>
                    </div>

                    <div class="form-row">
                      <div class="testcase-container form-group col-md">
                        <label>Test Cases for Coding [Leave blank for MCQ]</label><br>
                        <div class = "addtestcasebtn">                      
                          <!-- <input  type="text" name="testcase1"> -->
                          <textarea class="form-control col-md-7" rows="3" name="testcaseip1" placeholder="Program input"></textarea>
                          <textarea class="form-control" rows="3" name="outputeval1" placeholder="Output or evalcode" style="margin-left: 10px;"></textarea>
                          <div class="form-group col-md-1">
                              <select class="form-control" id="testcasetype1" name="testcasetype1">
                                  <option value="Hidden">Hidden</option>
                                  <option value="Visible">Visible</option>
                              </select>

                              <select class="form-control" id="testcasetype" name="outputtype1" style="margin-top: 10px;">
                                <option value="Hidden">Static o/p</option>
                                <option value="Visible">Dynamic o/p</option>
                            </select>
                          </div>                          
                          <button class="add_form_field_testcase">+</button>
                         
                        </div>
                      </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Finish</button>
                    <button type="submit" class="btn btn-primary"  onclick='saveQuestion()' >Save and Create Next Question</button>
                  </form>                
            </div>
          </div>
          <br>

          <div class="row" style="background: azure;padding: 20px;">
            <div class="col-md-10">
            </div>
          </div>
          <br>        
        </div>
      </div>
</body>

<script>
  function saveQuestion(){
    var xhttp = new XMLHttpRequest();
    var cname = document.getElementById("cname").value;
    var st = document.getElementById("start-time").value;
    var et = document.getElementById("end-time").value;
    var url = "http://127.0.0.1:8000/saveResponse/"+cname+"/"+st+"/"+et;
    //console.log(ans);
    //xhttp.onreadystatechange = function() {
    //if (this.readyState == 4 && this.status == 200) {
        //action to do on return
    //}
    //};
    xhttp.open("POST", url, true);
    xhttp.send(ans);
  }

  //add new option field
  $(document).ready(function() {
    var max_fields = 5;
    var wrapper = $(".options-container");
    var add_button = $(".add_form_field_mcq");

    var x = 1;
    $(add_button).click(function(e) {
        e.preventDefault();
        if (x < max_fields) {
            x++;

            $(wrapper).append('<div class = "addoptionbtn"><input type="text" name="option'+x+'" style="width: 25%;" placeholder="Option '+x+'"><div class="form-group col-md-1"><select class="form-control" id="ans_correct" name="ans_correct'+x+'"><option value="Wrong">Wrong</option><option value="Correct">Correct</option></select></div><button class="delete add_form_field_mcq" style="margin-left:5px;">&nbsp;-</button></div>');
        } else {
            alert('You Reached the limits')
        }
    });

    $(wrapper).on("click", ".delete", function(e) {
        e.preventDefault();
        $(this).parent('div').remove();
        x--;
    })
  });

  //add new test case
  $(document).ready(function() {
    var max_fields = 10;
    var wrapper = $(".testcase-container");
    var add_button = $(".add_form_field_testcase");

    var z = 1;
    $(add_button).click(function(f) {
        f.preventDefault();
        if (z < max_fields) {
            z++;
            $(wrapper).append('<div class = "addtestcasebtn"><textarea class="form-control col-md-7" rows="3" name="testcaseip'+z+'" placeholder="Program input"></textarea><textarea class="form-control" rows="3" name="outputeval'+z+'" placeholder="Output or evalcode" style="margin-left: 10px;"></textarea><div class="form-group col-md-1"><select class="form-control" id="testcasetype1" name="testcasetype'+z+'"><option value="Hidden">Hidden</option><option value="Visible">Visible</option></select><select class="form-control" id="testcasetype" name="outputtype'+z+'" style="margin-top: 10px;"><option value="Hidden">Static o/p</option><option value="Visible">Dynamic o/p</option></select></div><button class="delete-testcase add_form_field_testcase" style="margin-left:5px;">&nbsp;-</button></div>');
        } else {
            alert('You Reached the limits')
        }
    });

    $(wrapper).on("click", ".delete-testcase", function(f) {
        f.preventDefault();
        $(this).parent('div').remove();
        z--;
    })
  });

</script>

</html>