{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Code Platform</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/main.css' %} ">
</head>

<body style="background:dodgerblue ">
    
    <nav>
        <h1 style="width: fit-content;
            font-size: 1.75rem;
            padding: 10px;">
            CODE PLATFORM XYZ  
        </h1>
        <ul id="navelements">
            <div class="loginsignup">                
                <li class="username">{{ user.username }}</li>
                <input id="user_name" type="hidden" value='{{ user.username }}'>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </div>
        </ul>				
    </nav>
    <br><br><br>

    <div class="container-fluid">
        
        <div class="container-fluid">
          
          <div class="row">
            <div class="col-md">
                <h4>Contest Creation Panel</h4>
                <!-- <p>Resize the browser window to see the effect.</p> -->
                <br>

                <style>
                    .quiz-data-box{
                        background: ghostwhite;
                        padding: 20px;
                        border-radius: 5px;
                    }
                    .quiz-data-box input{
                      margin-top: 30px;
                    }
                </style>

            <form class="quiz-data-box" method="POST" onsubmit="return validateForm()" action="" name="ContestForm"> 
              {% csrf_token %}
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label>Contest Name</label>
                    <input type="text" class="form-control" id="cname" name="cname" placeholder="" required>
                  </div>
                  <div class="form-group col-md-3">
                    <label>Start Date:</label>
                    <input type="date" class="form-control" id="start-date" name="start-date" required>
                    <label>Time:</label>
                    <input type="time" class="form-control" id="start-time" name="start-time" required>
                  </div>
                  <div class="form-group col-md-3">
                    <label>End Date:</label>
                    <input type="date" class="form-control" id="end-date" name="end-date" required>
                    <label>Time:</label>
                    <input type="time" class="form-control" id="end-time" name="end-time" required>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label>Description</label>
                    <input type="text" class="form-control" id="cdst" name="contest_desc" placeholder="" >
                  </div>
                </div>
                <input type="hidden" name="time_zone_offset" id="time_zone_offset">
                <input type="submit" class="btn btn-primary" value="Procees to Question Creation"> 
                <!-- <input type="submit" class="btn btn-primary" value="Procees to Question Creation"> -->
              </form>   
                  
            </div>

          </div>
          <br>
          
        </div>
      </div>
</body>

<script>

  function checkTime(i) {
    if (i < 10) {
      i = "0" + i;
    }
    return i;
  }

  // validation check
  function validateForm() {
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; 
    var yyyy = today.getFullYear();
    var h = today.getHours();
    var m = today.getMinutes();
    // add a zero in front of numbers<10
    m = checkTime(m);
    dd = checkTime(dd);
    var today_time = h + ":" + m;
    today = yyyy+'-'+mm+'-'+dd;
    var sd = document.forms["ContestForm"]["start-date"].value;
    var ed = document.forms["ContestForm"]["end-date"].value;
    var st = document.forms["ContestForm"]["start-time"].value;
    var et = document.forms["ContestForm"]["end-time"].value;

    // var today = Date.parse(today);
    // var sd = Date.parse(sd);
    // var ed = Date.parse(ed);

    if (ed < today){
      alert("Contest End Date cannot be before Today!");
      console.log("Contest End Date cannot be before Today!");
      return false;
    }

    else if (sd == today || ed == today){
      if (st < today_time){
        alert("Contest Start Time cannot be before Current Time!");
        console.log("Contest Start Time cannot be before Current Time!");
        return false;
      }

      if (et <= today_time){
        alert("Contest End Time cannot be before/equal to Current Time!");
        console.log("Contest End Time cannot be before/equal to Current Time!");
        return false;
      }
    }

    // return true;
    
  } 

  // function saveContest(){
  //   var xhttp = new XMLHttpRequest();
  //   var cname = document.getElementById("cname").value;
  //   var st = document.getElementById("start-time").value;
  //   var et = document.getElementById("end-time").value;
  //   var url = "http://127.0.0.1:8000/create_contest/"+cname+"/create_question/";
  //   //console.log(ans);
  //   // xhttp.onreadystatechange = function() {
  //   // if (this.readyState == 4 && this.status == 200) {
  //   //     // action to do on return
  //   // }
  //   // };
  //   xhttp.open("POST", url, true);
  //   xhttp.send();
  // }

  function setTimezoneOffset(){
    offset = new Date().getTimezoneOffset();
    document.getElementById("time_zone_offset").value = offset;
  }
  setTimezoneOffset();
console.log(offset);
</script>

</html>