{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Code Platform</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="{% static 'css/main.css' %} ">
</head>

<body style="background:rgb(0, 192, 218) ">

  <nav>
    <h1 style="width: fit-content;
            font-size: 1.75rem;
            padding: 10px;">
      {{cname}} : Edit Mode
    </h1>
    <ul id="navelements">
      <div class="loginsignup">
        <li class="username">{{ user.username }}</li>
        <input id="user_name" type="hidden" value='{{ user.username }}'>
        <li><a href="{% url 'logout' %}">Logout</a></li>
      </div>
    </ul>
  </nav>
  <br><br><br>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md">
          <h4>Contest Edit Panel</h4>
          <br>
          <style>
            .quiz-data-box {
              background: ghostwhite;
              padding: 20px;
              border-radius: 5px;
            }

            .quiz-data-box input {
              margin-top: 30px;
            }
          </style>

          <form class="quiz-data-box" method="POST" action="" name="ContestForm">
            {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-3">
                <label>Contest Name</label>
                <input type="text" class="form-control" id="cname" name="cname" placeholder="" value="{{cname}}"
                  required>
              </div>
              <div class="form-group col-md-3">
                <label>Start Date:</label>
                <input type="date" class="form-control" id="start-date" name="start-date"
                  value="{{startDate.isoformat}}" required>
                <label>Time:</label>
                <input type="time" class="form-control" id="start-time" name="start-time" required>
              </div>
              <div class="form-group col-md-3">
                <label>End Date:</label>
                <input type="date" class="form-control" id="end-date" name="end-date" value="{{endDate.isoformat}}"
                  required>
                <label>Time:</label>
                <input type="time" class="form-control" id="end-time" name="end-time" required>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-3">
                <label>Description</label>
                <input type="text" class="form-control" id="cdst" name="contest_desc" value="{{desc}}" placeholder="">
              </div>
              <div class="form-group col-md-3">
                <label>Host</label>
                <input type="text" class="form-control" id="hosted_by" name="hosted_by" value="{{hosted_by}}"
                  placeholder="">
              </div>
              <div class="form-group col-md-3">
                <label>Duration</label>
                <input type="text" class="form-control" id="duration" name="duration" value="{{duration}}"
                  placeholder="">
              </div>
            </div>
            <input type="hidden" name="time_zone_offset" id="time_zone_offset">
            <input type="hidden" id="sdate" value="{{startDate.isoformat}}">
            <input type="hidden" id="edate" value="{{endDate.isoformat}}">
            <input type="submit" class="btn btn-primary" value="Save">
          </form>
        </div>
      </div>

      <div class="row" style="background: azure;padding: 20px; border-radius: 1rem;border:2rem;margin-left: 1rem;margin-right: 1rem">
        <br>
        <br>
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link disabled" id="v-pills-home-tab" data-toggle="pill">Q.No.</a>
          {% for qno in questions.keys %}
            {% if forloop.counter == 1%}
              <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#qno-{{qno}}" role="tab"
                aria-controls="qno-{{qno}}" aria-selected="true">{{qno}}</a>
            {% else %}
              <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#qno-{{qno}}" role="tab"
              aria-controls="qno-{{qno}}" aria-selected="false">{{qno}}</a>
            {% endif %}
          {% endfor %}
        </div>

        <div class="tab-content col-md" id="v-pills-tabContent">
          {% for qno, qinfo in questions.items %}
            {% if forloop.counter == 1%}
            <div class="tab-pane fade show active" id="qno-{{qno}}" role="tabpanel" aria-labelledby="v-pills-home-tab">
            {% else %}
            <div class="tab-pane fade" id="qno-{{qno}}" role="tabpanel" aria-labelledby="v-pills-home-tab">
              {% endif %}
              <div class="col-md">
                <div class="form-row">
                  <!-- <div class="form-group col-md-1">
                        <label>Type:</label>
                          <select  class="form-control" id="qtype" name="qtype">
                            {% if qinfo.qtype == "Coding" %}
                              <option value="Coding" selected>Coding</option>
                              <option value="MCQ">MCQ</option>
                            {% endif %}
                            {% if qinfo.qtype == "MCQ" %}
                              <option value="Coding">Coding</option>
                              <option value="MCQ" selected>MCQ</option>
                            {% endif %}
                          </select>
                      </div> -->
                  <div class="form-group col-md">
                    <label>Question</label>
                    <textarea class="form-control" rows="3" id="question" name="question"
                      required>{{qinfo.qobj.question}}</textarea>
                  </div>
                  {% if qinfo.qtype == "Coding" %}
                    <div class="form-group col-md">
                      <label>Description</label>
                      <textarea class="form-control" rows="3" name="q_desc"
                        placeholder="Eg. any extra info (if any)">{{qinfo.qobj.description}}</textarea>
                    </div>
                  {% endif %}
                </div>

                {% if qinfo.qtype == "Coding" %}
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                    {% for tc in qinfo.testcases %}
                      <li class="nav-item">
                        <a class="nav-link" id="home-tab" data-toggle="tab" href="#tc-{{forloop.counter}}" role="tab"
                          aria-controls="home" aria-selected="true">Test Case {{forloop.counter}}</a>
                      </li>
                    {% endfor %}
                  </ul>
                

                  <div class="tab-content col-md" id="myTabContent">
                    {% for tc in qinfo.testcases %}
                      <div class="tab-pane fade" id="tc-{{forloop.counter}}" role="tabpanel" aria-labelledby="home-tab">
                        <div class="form-row" id="testcase-row">
                          <div class="testcase-container form-group col-md">
                            <div class="addtestcasebtn">

                              <div class="form-row" style="margin-top:10px">
                                <div class="form-group col-md-2">

                                  <select class="form-control" id="testcasetype1" name="testcasetype1">
                                    {% if tc.testCaseType == "Visible" %}
                                    <option value="Hidden">Hidden</option>
                                    <option value="Visible" selected>Visible</option>
                                    {% else %}
                                    <option value="Visible">Visible</option>
                                    <option value="Hidden" selected>Hidden</option>
                                    {% endif %}
                                  </select>
                                </div>
                                <div class="form-group col-md-2">

                                  <select class="form-control" id="testcasetype" name="outputtype1">
                                    {% if tc.OutputType == "Dynamic" %}
                                    <option value="Dynamic">Dynamic o/p</option>
                                    <option value="Static">Static o/p</option>
                                    {% else %}
                                    <option value="Static">Static o/p</option>
                                    <option value="Dynamic">Dynamic o/p</option>
                                    {% endif %}
                                  </select>
                                </div>

                                <button class="add_form_field_testcase">+</button>
                              </div>

                              <br>
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label>Input</label>
                                  <textarea class="form-control col-md testcase" rows="3" name="testcaseip1"
                                    placeholder="Program input" required>{{tc.pgmInput}}</textarea>
                                </div>
                                <div class="form-group col-md-6">
                                  <label>Output</label>
                                  <textarea class="form-control testcase col-md" rows="3" name="outputeval1"
                                    placeholder="Output or evalcode" style="margin-left: 10px;"
                                    required>{{tc.pgmOutputOrEvalCode}}</textarea>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                {% endif %}

                {% if qinfo.qtype == "MCQ" %}
                  <label>MCQ Options </label><br>
                  {% for opt in qinfo.options %}
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <input type="text" name="option" .join({{loop.index0}}) class="form-control mcq col-md" placeholder="Option 1" value={{opt.option}} required>
                      </div>
                      <div class="form-group col-md-2">
                        <select class="form-control mcqselect" name="ans_correct1">
                          {% if opt.correct_option %}
                          <option value="False">Wrong</option>
                          <option value="True" selected>Correct</option>
                          {% else %}
                          <option value="False">Wrong</option>
                          <option value="True">Correct</option>
                          {% endif %}
                        </select>
                      </div>
                    </div>
                  {% endfor %}
                  <div class="form-row">
                    <button class="form-group add_form_field_mcq">Add new Option</button>
                  </div>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

    </div>
</body>

<script>

  var sd = document.getElementById("sdate").value
  var ed = document.getElementById("edate").value
  console.log(sd)
  console.log(ed)
  document.getElementById("start-time").value = sd.match(/\d\d:\d\d/)[0];
  document.getElementById("end-time").value = ed.match(/\d\d:\d\d/)[0];
  sd = new Date(sd);
  ed = new Date(ed);
  document.getElementById("start-date").value = sd.getFullYear() + '-' + (sd.getMonth() + 1) + '-' + sd.getDate();
  document.getElementById("end-date").value = ed.getFullYear() + '-' + (ed.getMonth() + 1) + '-' + ed.getDate();

  function setTimezoneOffset() {
    offset = new Date().getTimezoneOffset();
    document.getElementById("time_zone_offset").value = offset;
  }
  setTimezoneOffset();
  console.log(offset);

</script>

</html>