{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Code Platform</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Contest Selection</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'css/main.css' %} ">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	
	<link href="{% static 'css/toast.css' %}" rel="stylesheet" />
</head>

<body style="background:dodgerblue ">
    
    <nav>
        <h1 style="width: fit-content;
            font-size: 1.75rem;
            padding: 10px;">
            CODE PLATFORM XYZ  
        </h1>
        <ul id="navelements">
            <div class="loginsignup">                
                <li class="username">{{ user.username }}</li>
                <input id="user_name" type="hidden" value='{{ user.username }}'>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </div>
        </ul>				
	</nav>
	
    <br><br><br>

    <div class="container-fluid">
        
        <div class="container-fluid">
          
			<div class="row">
				<div class="col-md-10">

					<div class="card-columns" id="contest-list">
						{% for contest in contests %}
						<div class="card bg-light">
							<div class="card-body">
								<h3 class="card-title">{{contest.cname}}</h3>
								<hr/>
								<h6>Contest Availability</h6>
								  <p class="card-text">{{contest.startTime}} &nbsp;-&nbsp; {{contest.endTime}}</p>
								  <hr/>
								  <a href="/startContest/{{contest.cname}}"  class="card-link">Start</a>									
								 	
							</div>
						</div>
						{% endfor %}	
						
						<script>
							{% if server_msg != "" %}
								alert("Contest has expired ! Wake up early next time.");
								history.back();
							{% endif %}
						</script>
					
				</div>
			</div>

		</div>
	</div>

</body>

<script src="{% static 'js/bootstrap-notify.js' %}"></script>


<script>
function showtoast(msg) {
	md.showNotification('bottom','right',msg)
}
</script>


</html>