{% load static%}
<!DOCTYPE html>
<html>
	<head>
		<title>Alpha Code - Sign up</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script type="application/x-javascript">
			addEventListener("load", function() { 
				setTimeout(hideURLbar, 0); }, false);
				function hideURLbar(){ 
					window.scrollTo(0,1); 
					} 
		</script>
		<link href="{%static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
	</head>
	
<body class="body">
	{% block content %}
	<div class="flex-shrink flex-col m-4 p-4 sm:w-1/2 sm:h-1/3 lg:w-1/3 lg:h-1/2 xl:w-1/4 bg-white rounded-2xl shadow-2xl">
		<form class="flex-1" action="" method="post" id="register">
			<h1 class="text-center text-2xl font-bold text-blue-800 tracking-wide p-3 mt-3">Participant Registration</h1>
			<!-- Alert message -->
			<div class="text-center px-3 font-semibold text-red-700 w-full tracking-wide">
			{% csrf_token %}
			{{ form.non_field_errors }}
			{% if form.errors %}
				{% for field in form %}
					{% for error in field.errors %}
						<span>{{ error|escape }}</span>
					{% endfor %}
				{% endfor %}
				{% for error in form.non_field_errors %}
					<span>{{ error|escape }}</span>
				{% endfor %}
			{% endif %}
			</div>
			<!-- Credential input fields -->
			<div class="px-5">
				<input class="login-input placeholder-blue-900 focus:border-blue-700" type="text" name="{{form.username.html_name }}" placeholder="Username" required="">
				<span>{{ field.password1.errors }}</span>
				<input class="login-input placeholder-blue-900 focus:border-blue-700" type="password" name="{{form.password1.html_name }}" placeholder="Password" required="">
				<input class="login-input placeholder-blue-900 focus:border-blue-700" type="password" name="{{form.password2.html_name }}" placeholder="Confirm Password" required="">
			</div>
			<!-- Sign up link -->
			<div class="flex justify-center m-3">
				<button class="login-btn hover:bg-blue-500" type="submit">Sign Up</button>
			</div>
		</form>
		<div class="text-center">
			<span class="inline-block py-3 text-blue-700">Already have an Account? </span>
				<a href="{% url 'login' %}">
					<span class="inline-block p-2 text-lg font-semibold text-blue-800 underline hover:text-blue-500">
						Sign In
					</span>
				</a>
		</div>
	</div>
	{% endblock %}
</body>
</html>
