{% load static%}
<!DOCTYPE html>
<html>
	<head>
		<title>Sign up - Indra Cloud</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

		<link href="{%static 'css/login.css' %}" rel="stylesheet" type="text/css" media="all" />
		<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
	</head>

<body>

	{% block content %}
	<div class="login-form">
		<form action="" method="post" id="register">
			<h1 class="h3 mb-3 font-weight-normal">Participant Registration</h1>
			{% csrf_token %}
			{% comment %} {{ form.as_p }} {% endcomment %}
			{{ form.non_field_errors }}
			{% if form.errors %}
			{% for field in form %}
				{% for error in field.errors %}
					<div class="alert alert-danger" style="color: red;">
						<strong>{{ error|escape }}</strong>
					</div>
				{% endfor %}
			{% endfor %}
			{% for error in form.non_field_errors %}
				<div class="alert alert-danger">
					<strong>{{ error|escape }}</strong>
				</div>
			{% endfor %}
			{% endif %}
			
			{% comment %} <input class="text" type="text" name="username" placeholder="Username" required="" id="id_username"><br><br>
			<input class="text" type="password" name="password1" placeholder="Password" required="" id="id_password1">
			<input class="text w3lpass" type="password" name="password2" placeholder="Confirm Password" required="" id="id_password2"> {% endcomment %}

			<input class="text" type="text" name="{{form.username.html_name }}" placeholder="Username" required=""><br><br>
			{{ field.password1.errors}}
			<input class="text" type="password" name="{{form.password1.html_name }}" placeholder="Password" required="">
			<input class="text w3lpass" type="password" name="{{form.password2.html_name }}" placeholder="Confirm Password" required="">
			
			<div style="margin-top: 15px; color: white; text-align: center;">
				<label class="anim">
					<span>By clicking Sign up, you Agree To The Terms & Conditions</span>
				</label>
			</div>

			<input type="submit" value="SIGN UP">
		</form>
		<p>Don't have an Account? <a href="{% url 'login' %}"><b>Login</b></a></p>
	</div>
	{% endblock %}

</body>
</html>